[{snmp, [{agent, [{versions, [v1, v2]},
                  {db_dir, "/var/db/leo_manager/snmp"},
                  {config, [{dir, "/opt/local/leo_manager/snmp/snmpa_manager_0/agent/conf"},
                            {verbosity, silence}]},
                  {net_if, [{verbosity, silence}]}
                 ]},
         {verbosity, silence}]}
].
