%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Storage
%%
%% Copyright (c) 2012 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================

%% Node alias name
{node_alias, "storage_0"}.
{node_ip,    "127.0.0.1"}.

%% Cookie
{cookie, "401321b4"}.

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.
{platform_snmp_dir, "./snmp"}.
{platform_work_dir, "./work"}.

%%
%% etc/app.config
%%
{snmp_conf_dir,  "snmpa_storage_0"}.
{snmp_agent_dir, "{{platform_snmp_dir}}/{{snmp_conf_dir}}/LEO-STORAGE"}.

{mnesia_dir,     "{{platform_work_dir}}/mnesia"}.
{queue_dir,      "{{platform_work_dir}}/queue"}.

{sasl_log_dir,   "{{platform_log_dir}}/sasl"}.
{sasl_error_log, "{{platform_log_dir}}/sasl/sasl-error.log"}.

{obj_containers, '[{{volume, "/path/to/oject-container/"}, {num_of_containers, 64}}]'}.
{managers,       '["manager_0@127.0.0.1", "manager_1@127.0.0.1"]'}.
{num_of_replicators, 32}.
{num_of_repairers,   32}.
{num_of_mq_procs,     8}.

%% Log output level
%%   0: debug
%%   1: info
%%   2: warning
%%   3: error
{log_level, 1}.

%%
%% etc/vm.args
%%
{node,         "{{node_alias}}@{{node_ip}}"}.
{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

