{mode,      max}.
{duration,    5}.
{concurrent, 10}.

{driver, basho_bench_driver_leofs}.
{code_paths, ["deps/ibrowse"]}.

{http_raw_ips, ["127.0.0.1"]}.
{http_raw_port, 8080}.
{http_raw_path, "/air/_test/16KB"}.

{key_generator,   {uniform_int, 1000000}}.
{value_generator, {fixed_bin, 16384}}.
{operations, [{put, 1}]}.

