%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% Leo Gateway
%%
%% Copyright (c) 2012-2018 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
{require_otp_vsn, "18|19|20"}.

{deps, [
        {leo_cache,             ".*", {git, "https://github.com/leo-project/leo_cache.git",             {tag, "2.0.0"}}},
        {leo_logger,            ".*", {git, "https://github.com/leo-project/leo_logger.git",            {tag, "2.0.0"}}},
        {leo_object_storage,    ".*", {git, "https://github.com/leo-project/leo_object_storage.git",    {tag, "2.0.2"}}},
        {leo_pod,               ".*", {git, "https://github.com/leo-project/leo_pod.git",               {tag, "0.6.9"}}},
        {leo_redundant_manager, ".*", {git, "https://github.com/leo-project/leo_redundant_manager.git", {tag, "2.0.1"}}},
        {leo_statistics,        ".*", {git, "https://github.com/leo-project/leo_statistics.git",        {tag, "2.0.0"}}},
        {leo_s3_libs,           ".*", {git, "https://github.com/leo-project/leo_s3_libs.git",           {tag, "2.0.0"}}},
        {leo_watchdog,          ".*", {git, "https://github.com/leo-project/leo_watchdog.git",          {tag, "2.0.0"}}},
        {erpcgen,               ".*", {git, "https://github.com/leo-project/erpcgen.git",               {tag, "0.2.6"}}},
        {nfs_rpc_server,        ".*", {git, "https://github.com/leo-project/nfs_rpc_server.git",        {tag, "0.2.6"}}},
        {cowboy,                ".*", {git, "https://github.com/leo-project/cowboy.git",                {branch, "for-leofs-1.4"}}},
        {cowlib,                ".*", {git, "https://github.com/ninenines/cowlib.git",                  {tag, "1.0.0"}}},
        {meck,                  ".*", {git, "https://github.com/eproxus/meck.git",                      {tag, "0.8.6"}}},
        {sd_notify,             ".*", {git, "https://github.com/systemd/erlang-sd_notify.git",          {tag, "v1.0"}}, [raw]}
       ]}.

{erl_opts, [{d, 'NOTEST'},
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_export_vars,
            warn_export_all,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_logger_transform}
           ]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, []}.
