%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Gateway
%%
%% Copyright (c) 2012 Rakuten, Inc
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
%% LeoFS system's version"
{system_version, "0.14.6"}.

%% Node alias name
{node_alias, "gateway_0"}.
{node_ip,    "127.0.0.1"}.

%% Cookie
{cookie, "401321b4"}.

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.
{platform_snmp_dir, "./snmp"}.
{platform_work_dir, "./work"}.

%% == Gateway Properties ==
%%
%% Gateway's port number
{gateway_port, 8080}.

%% # of acceptors
{num_of_acceptors, 128}.

%% # of max keepalive
{max_keepalive, 4096}.

%% Range of layers of directories
{layer_of_dirs, '{1, 12}'}.

%% ssl related
{ssl_port, 8443}.
{ssl_certfile, "{{platform_etc_dir}}/server_cert.pem"}.
{ssl_keyfile,  "{{platform_etc_dir}}/server_key.pem"}.

%% large-object related
{max_chunked_objs,        1000}. %% 1000 chuked-objs
{max_len_for_obj,    524288000}. %% 500.0MB (max len for multipart:500MB * 1000 = 500GB)
{chunked_obj_len,      5242880}. %%   5.0MB
{threshold_obj_len,    5767168}. %%   5.5MB

%% leo-manager's nodes
{managers, '["manager_0@127.0.0.1", "manager_1@127.0.0.1"]'}.

%% == Cache-related properties ==
%%
%% Total of cache-size (capacity)
%% Unit is byte - 1073741824 = 1GB
{cache_ram_capacity,  1073741824}. %% for RAM-cache  (1GB)
{cache_disc_capacity,  524288000}. %% for DISC-cache (500MB)

%% # of cache worker processes
{cache_num_of_workers, 16}.

%% When a length of object exceed this value, the object is stored into the disc
%% ram-cache  =< ${cache_disc_threshold_len} < disc-cache (1MB)
{cache_disc_threshold_len, 1048576}.

%% Disc cache - stored directory for data - storing destination SSD (or HDD)
{cache_disc_dir_data,      "./cache/data"}.
%% Disc cache - stored directory for journal
{cache_disc_dir_journal,   "./cache/journal"}.

%% Cache expire time. Unit is minutes.
%% Unit is minutes - 300 = 5min
{cache_expire, 300}.

%% Acceptable maximum content length
%% Unit is bytes - 1048576 = 1MB
{cache_max_content_len, 1048576}.

%% Acceptable content-type(s)
{cachable_content_type, '[]'}.

%% Acceptable URL-Pattern(s)
{cachable_path_pattern, '[]'}.


%% == QoS (Savannah) ==
%%
{is_enable_qos, false}.

%% == Directories ==
%%
{snmp_conf_dir,  "snmpa_gateway_0"}.
{snmp_agent_dir, "{{platform_snmp_dir}}/{{snmp_conf_dir}}/LEO-GATEWAY"}.

%% Directory of Mmneisa
{mnesia_dir,     "{{platform_work_dir}}/mnesia"}.
%% Directory of mq's db-file
{queue_dir,      "{{platform_work_dir}}/queue"}.
%% Directory of log output
{sasl_log_dir,   "{{platform_log_dir}}/sasl"}.
%% Directory of sasl-log output
{sasl_error_log, "{{platform_log_dir}}/sasl/sasl-error.log"}.

%% Log output level
%%   0: debug
%%   1: info
%%   2: warning
%%   3: error
{log_level, 1}.

%%
%% etc/vm.args
%%
{node,         "{{node_alias}}@{{node_ip}}"}.
{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

