{require_otp_vsn, "R14B04|R15B02|R15B03|R16B"}.

{deps, [
    {leo_manager, ".*", {git, "https://github.com/leo-project/leo_manager.git", {branch, "develop"}}},
    {leo_storage, ".*", {git, "https://github.com/leo-project/leo_storage.git", {branch, "develop"}}},
    {leo_gateway, ".*", {git, "https://github.com/leo-project/leo_gateway.git", {branch, "develop"}}}
]}.

{sub_dirs, [
            "rel"
           ]}.

{erl_opts, [{d, 'NOTEST'},
            fail_on_warning,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record,
            debug_info]}.
