{mode,      max}.
{duration,  1000}.
{concurrent, 50}.

{driver, basho_bench_driver_leofs}.
{code_paths, ["deps/ibrowse"]}.

{http_raw_ips, ["localhost"]}.
{http_raw_port, 80}.
{http_raw_path, "/test"}.

{key_generator,   {partitioned_sequential_int, 1000000}}.
{value_generator, {fixed_bin, 16384}}.
{operations, [{put,1}]}.

