{mode,      max}.
{duration,  60}.
{concurrent, 50}.

{driver, basho_bench_driver_leofs}.
{code_paths, ["deps/ibrowse"]}.

{http_raw_ips, ["localhost"]}.
{http_raw_port, 80}.
{http_raw_path, "/test"}.

{key_generator,   {pareto_int, 1000000}}.
{value_generator, {fixed_bin, 4096}}.
{operations, [{get,8},{put,2}]}.

