{mode,      max}.
{duration,  180}.
{concurrent, 50}.

{driver, basho_bench_driver_leofs}.
{code_paths, ["deps/ibrowse"]}.

{http_raw_ips, ["localhost"]}.
{http_raw_port, 8080}.
{http_raw_path, "/test"}.

{value_size_groups, [{1,131072,262144}]}.
{key_generator,   {partitioned_sequential_int, 20000}}.
{value_generator, {fixed_bin, 1048576}}.
{operations, [{putv4,1}]}.

