{mode,      max}.
{duration,  60}.
{concurrent, 48}.

{driver, basho_bench_driver_leofs}.
{code_paths, ["deps/ibrowse"]}.

{http_raw_ips, ["localhost"]}.
{http_raw_port, 80}.
{http_raw_path, "/bbb"}.

{key_generator,   {pareto_int, 1000000}}.
{value_generator, {uniform_bin, 4096, 32768}}.
{operations, [{get,5},{put,5}]}.
{check_integrity, true}.
