%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% Leo Manager
%%
%% Copyright (c) 2012-2018 Rakuten, Inc.
%% Copyright (c) 2019-2025 Lions Data, Ltd.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
{minimum_otp_vsn, "28"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_unused_import,
    {d, 'NOTEST'}
]}.

{deps, [
    {leo_commons,           {git, "https://github.com/leo-project/leo_commons.git",           {tag, "1.3.0"}}},
    {leo_mq,                {git, "https://github.com/leo-project/leo_mq.git",                {tag, "v2.1.0"}}},
    {leo_object_storage,    {git, "https://github.com/leo-project/leo_object_storage.git",    {tag, "v2.1.0"}}},
    {leo_redundant_manager, {git, "https://github.com/leo-project/leo_redundant_manager.git", {tag, "v2.1.0"}}},
    {leo_statistics,        {git, "https://github.com/leo-project/leo_statistics.git",        {tag, "v2.1.0"}}},
    {leo_s3_libs,           {git, "https://github.com/leo-project/leo_s3_libs.git",           {tag, "v2.1.0"}}},
    {jiffy,                 {git, "https://github.com/davisp/jiffy.git",                      {tag, "1.1.2"}}},
    {sd_notify,             {git, "https://github.com/systemd/erlang-sd_notify.git",          {tag, "v1.1"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            {d, 'TEST'}
        ]},
        {deps, [
            {meck, "0.9.2"}
        ]}
    ]}
]}.

{project_plugins, [
    rebar3_hex,
    rebar3_lint
]}.

%% Release configuration
{relx, [
    {release, {leo_manager, "2.0.0"}, [
        %% Erlang/OTP applications
        kernel,
        stdlib,
        sasl,
        crypto,
        mnesia,
        snmp,
        runtime_tools,
        compiler,
        syntax_tools,
        tools,
        inets,
        %% LeoFS dependencies
        leo_commons,
        leo_redundant_manager,
        leo_s3_libs,
        leo_mq,
        leo_object_storage,
        leo_statistics,
        leo_backend_db,
        leo_rpc,
        leo_pod,
        savanna_commons,
        %% Third-party dependencies
        folsom,
        bear,
        eleveldb,
        recon,
        jiffy,
        sd_notify,
        %% Main application
        leo_manager
    ]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {overlay, [
        {mkdir, "work/mnesia"},
        {mkdir, "work/queue"},
        {mkdir, "log/sasl"},
        {mkdir, "etc/leo_manager.d"},
        {mkdir, "snmp/snmpa_manager_0/db"},
        {mkdir, "snmp/snmpa_manager_0/agent/conf"},
        {mkdir, "snmp/snmpa_manager_1/db"},
        {mkdir, "snmp/snmpa_manager_1/agent/conf"},
        {copy, "priv/leo_manager.conf", "etc/leo_manager.conf"},
        {copy, "priv/leo_manager.schema", "etc/leo_manager.schema"},
        {copy, "priv/leo_manager_snmp.yml", "etc/leo_manager_snmp.yml"},
        {copy, "snmp/snmpa_manager_0/LEO-MANAGER.bin", "snmp/snmpa_manager_0/LEO-MANAGER.bin"},
        {copy, "snmp/snmpa_manager_0/LEO-MANAGER.mib", "snmp/snmpa_manager_0/LEO-MANAGER.mib"},
        {copy, "snmp/snmpa_manager_0/leo_manager_snmp.config", "snmp/snmpa_manager_0/leo_manager_snmp.config"},
        {copy, "snmp/snmpa_manager_0/agent/conf/agent.conf", "snmp/snmpa_manager_0/agent/conf/agent.conf"},
        {copy, "snmp/snmpa_manager_0/agent/conf/community.conf", "snmp/snmpa_manager_0/agent/conf/community.conf"},
        {copy, "snmp/snmpa_manager_0/agent/conf/context.conf", "snmp/snmpa_manager_0/agent/conf/context.conf"},
        {copy, "snmp/snmpa_manager_0/agent/conf/standard.conf", "snmp/snmpa_manager_0/agent/conf/standard.conf"},
        {copy, "snmp/snmpa_manager_0/agent/conf/vacm.conf", "snmp/snmpa_manager_0/agent/conf/vacm.conf"},
        {copy, "snmp/snmpa_manager_0/agent/conf/notify.conf", "snmp/snmpa_manager_0/agent/conf/notify.conf"},
        {copy, "snmp/snmpa_manager_1/LEO-MANAGER.bin", "snmp/snmpa_manager_1/LEO-MANAGER.bin"},
        {copy, "snmp/snmpa_manager_1/LEO-MANAGER.mib", "snmp/snmpa_manager_1/LEO-MANAGER.mib"},
        {copy, "snmp/snmpa_manager_1/leo_manager_snmp.config", "snmp/snmpa_manager_1/leo_manager_snmp.config"},
        {copy, "snmp/snmpa_manager_1/agent/conf/agent.conf", "snmp/snmpa_manager_1/agent/conf/agent.conf"},
        {copy, "snmp/snmpa_manager_1/agent/conf/community.conf", "snmp/snmpa_manager_1/agent/conf/community.conf"},
        {copy, "snmp/snmpa_manager_1/agent/conf/context.conf", "snmp/snmpa_manager_1/agent/conf/context.conf"},
        {copy, "snmp/snmpa_manager_1/agent/conf/standard.conf", "snmp/snmpa_manager_1/agent/conf/standard.conf"},
        {copy, "snmp/snmpa_manager_1/agent/conf/vacm.conf", "snmp/snmpa_manager_1/agent/conf/vacm.conf"},
        {copy, "snmp/snmpa_manager_1/agent/conf/notify.conf", "snmp/snmpa_manager_1/agent/conf/notify.conf"}
    ]}
]}.
