%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Manager
%%
%% Copyright (c) 2012
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
%% LeoFS system's version"
{system_version, "0.14.6"}.

%% Node alias name
{node_alias, "manager_1"}.
{node_ip,    "127.0.0.1"}.

%% Cookie
{cookie, "401321b4"}.

%% == LeoFS-specific redundant/quorum  properties ==
%%
%% # of replicated files
{num_of_replicas,            1}.
%% # of successes of write-operation
{num_of_successes_of_write,  1}.
%% # of successes of read-operation
{num_of_successes_of_read,   1}.
%% # of successes of delete-operation
{num_of_successes_of_delete, 1}.

%% # of DC-awareness replicas
{num_of_awareness_L1, 0}.
%% # of Rack-awareness replicas
{num_of_awareness_L2, 0}.

%% == LeoFS available-commads ==
{available_commands, all}.

%% == Platform-specific installation paths ==
{platform_bin_dir,  "./bin"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.
{platform_snmp_dir, "./snmp"}.
{platform_work_dir, "./work"}.


%% == Manaegr's properties ==
%%
%% Manager accepatable port number
{manager_port_cui,  10011}.
{manager_port_json, 10021}.

%% Mode of server - [master|slave]
{manager_mode,     'slave'}.
%% Partner of manager's alias
{manager_partners, '["manager_0@127.0.0.1"]'}.


%% == Directories ==
%%
%% SNMP configured directory
{snmp_conf_dir,  "snmpa_manager_1"}.
%% Directory of SNMP-Agent
{snmp_agent_dir, "{{platform_snmp_dir}}/{{snmp_conf_dir}}/LEO-MANAGER"}.

%% Directory of Mnesia
{mnesia_dir,     "{{platform_work_dir}}/mnesia"}.

%% Directory of mq's db-file
{queue_dir,      "{{platform_work_dir}}/queue"}.

%% SASL log related
{sasl_log_dir,   "{{platform_log_dir}}/sasl"}.
{sasl_error_log, "{{platform_log_dir}}/sasl/sasl-error.log"}.

%% Log output level
%%   0: debug
%%   1: info
%%   2: warning
%%   3: error
{log_level, 1}.

%% == Compaction-related for storage(s) ==
%%
%% # of execution of concurrent
{num_of_compact_proc, 1}.

%%
%% etc/vm.args
%%
{node,         "{{node_alias}}@{{node_ip}}"}.
{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

