%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Gateway
%%
%% Copyright (c) 2012 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
[
    {sasl, [
            {sasl_error_logger, {file, "{{platform_log_dir}}/sasl/sasl-error.log"}},
            {errlog_type, error},
            {error_logger_mf_dir, "{{platform_log_dir}}/sasl"},
            {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
            {error_logger_mf_maxfiles, 5}         % 5 files max
           ]},
    {leo_gateway, [
                   %% == Gateway Properties ==
                   {listener, leo_s3_http},
                   {layer_of_dirs, {{layer_of_dirs}} },

                   {s3_http, [
                              %% Use S3-API ?
                              {s3_api, true},

                              %% HTTP-Server: [cowboy]
                              {http_server, cowboy},

                              %% Gateway's port number
                              {port, {{gateway_port}} },

                              %% # of acceptors
                              {num_of_acceptors, {{num_of_acceptors}} },

                              %% == ssl related ==
                              {ssl_port,     {{ssl_port}} },
                              {ssl_certfile, "{{ssl_certfile}}" },
                              {ssl_keyfile,  "{{ssl_keyfile}}" },

                              %% == large-object related ==
                              {acceptable_max_obj_len, {{acceptable_max_obj_len}} },
                              {chunked_obj_len,        {{chunked_obj_len}}        },
                              {threshold_obj_len,      {{threshold_obj_len}}      },

                              %% == Cache related ==
                              %% Name of the cache plugin
                              {cache_plugin, {{cache_plugin}} },

                              %% Cache expire time. Unit is minutes.
                              %% Unit is minutes - 300 = 5min
                              {cache_expire, {{cache_expire}} },

                              %% Acceptable maximum content length
                              %% Unit is bytes - 1000000 = 1MB
                              {cache_max_content_len, {{cache_max_content_len}} },

                              %% Acceptable content-type(s)
                              {cachable_content_type, {{cachable_content_type}} },

                              %% Acceptable URL-Pattern(s)
                              {cachable_path_pattern, {{cachable_path_pattern}} }
                             ]},

                   %% == Manager ==
                   %% leo-manager's nodes
                   {managers, {{managers}} },

                   %% == For Ordning-Reda ==
                   %% Size of stacked objects (bytes)
                   {size_of_stacked_objs,    {{size_of_stacked_objs}} },
                   %% Stacking timeout (msec)
                   {stacking_timeout,        {{stacking_timeout}} },

                   %% == Log-specific properties ==
                   %% Log output level
                   %%   0: debug
                   %%   1: info
                   %%   2: warning
                   %%   3: error
                   {log_level,    {{log_level}} },
                   %% Log appender - [file]
                   {log_appender, [
                                   {file, [{path, "{{platform_log_dir}}/app"}]}
                                  ]},

                   %% == Directories ==
                   %% Directory of log output
                   {log_dir,     "{{platform_log_dir}}"},
                   %% Directory of mq's db-files
                   {queue_dir,   "{{queue_dir}}"},
                   %% Directory of snmp-agent
                   {snmp_agent,  "{{snmp_agent_dir}}"}
                  ]},

    {ecache, [
                  %% Total of cache-size (capacity)
                  %% Unit is byte - 1000000000 = 1GB
                  {total_cache_size, {{cache_capacity}} },

                  %% # of cache-server processes
                  {proc_num, 32}
                 ]},
    {leo_backend_db, [{profile, false}]},
    {leo_logger,     [{profile, false}]},
    {leo_mq,         [{profile, false},
                      {backend_db, 'bitcask'}
                     ]},
    {leo_object_storage,    [{profile, false}]},
    {leo_ordning_reda,      [{profile, false},
                             {send_after_interval, 100}
                            ]},
    {leo_redundant_manager, [{profile, false},
                             {notify_mf, [leo_manager_api, notify]},
                             {sync_mf,   [leo_manager_api, synchronize]}
                            ]},
    {leo_statistics, [{profile, false}]}
].
