%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Gateway
%%
%% Copyright (c) 2012 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
[
 {sasl, [
         {sasl_error_logger, {file, "{{platform_log_dir}}/sasl/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "{{platform_log_dir}}/sasl"},
         {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
         {error_logger_mf_maxfiles, 5}         % 5 files max
        ]},

 {leo_gateway, [
                %% System Ver
                {system_version, "{{system_version}}" },

                %% Gateway Properties:
                {http, [
                        %% http-handler:
                        %%   [rest | s3 | swift]
                        {handler, s3},
                        %% Gateway port number:
                        {port, {{gateway_port}} },
                        %% # of acceptors:
                        {num_of_acceptors, {{num_of_acceptors}} },
                        %% max # of layer of directories:
                        {layer_of_dirs, {{layer_of_dirs}} },
                        %% ssl related:
                        {ssl_port,     {{ssl_port}} },
                        {ssl_certfile, "{{ssl_certfile}}" },
                        {ssl_keyfile,  "{{ssl_keyfile}}" }
                       ]},

                %% Large-object-related properties:
                {large_object, [
                                {max_chunked_objs,  {{max_chunked_objs}}  },
                                {max_len_for_obj,   {{max_len_for_obj}}   },
                                {chunked_obj_len,   {{chunked_obj_len}}   },
                                {threshold_obj_len, {{threshold_obj_len}} }
                               ]},

                %% Cache-related properties:
                {cache, [
                         %% Use HTTP-cache ?
                         {http_cache, false},
                         %% # of Cache workers
                         {cache_workers, {{num_of_acceptors}} },

                         %% RAM-cache capacity
                         {cache_ram_capacity,  {{cache_ram_capacity}} },
                         %% Disc-cache capacity
                         {cache_disc_capacity, {{cache_disc_capacity}} },

                         %% Disc-cache's threshold length which value is exceeded
                         %% when an object is stored into the disc
                         {cache_disc_threshold_len, {{cache_disc_threshold_len}} },
                         %% Disc-cache's directory
                         {cache_disc_dir_data,    "{{cache_disc_dir_data}}" },
                         {cache_disc_dir_journal, "{{cache_disc_dir_journal}}" },

                         %% Cache expire time. (sec)
                         {cache_expire, {{cache_expire}} },
                         %% Acceptable maximum content length (MB)
                         {cache_max_content_len, {{cache_max_content_len}} },
                         %% Acceptable content-type(s)
                         {cachable_content_type, {{cachable_content_type}} },
                         %% Acceptable URL-Pattern(s)
                         {cachable_path_pattern, {{cachable_path_pattern}} }
                        ]},

                %% QoS-related properties:
                {qos, [
                       {is_enable_qos, {{is_enable_qos}} },
                       {elkdb_conns, [
                                      [{pool_size,   16},
                                       {pool_buffer, 16},
                                       {host,        "127.0.0.1"},
                                       {port,        5555}
                                      ],
                                      [{pool_size,   16},
                                       {pool_buffer, 16},
                                       {host,        "127.0.0.1"},
                                       {port,        5556}
                                      ],
                                      [{pool_size,   16},
                                       {pool_buffer, 16},
                                       {host,        "127.0.0.1"},
                                       {port,        5557}
                                      ]
                                     ]}
                      ]
                 },

                %% Timeout when request from gateway to storage ==
                {timeout, [
                           {level_1,  5000},
                           {level_2,  7000},
                           {level_3, 10000},
                           {level_4, 20000},
                           {level_5, 30000}
                          ]},

                %% Manager - leo-manager's nodes
                {managers, {{managers}} },

                %% Log-specific properties
                %%   - Log output level
                %%         0: debug
                %%         1: info
                %%         2: warning
                %%         3: error
                {log_level,    {{log_level}} },
                %% Log appender - [file]
                {log_appender, [
                                {file, [{path, "{{platform_log_dir}}/app"}]}
                               ]},

                %% Directory of log output
                {log_dir,     "{{platform_log_dir}}"},
                %% Directory of mq's db-files
                {queue_dir,   "{{queue_dir}}"},
                %% Directory of snmp-agent
                {snmp_agent,  "{{snmp_agent_dir}}"}
               ]},

 {ecache,         [{profile, false}]},
 {leo_backend_db, [{profile, false}]},
 {leo_logger,     [{profile, false}]},
 {leo_mq,         [{profile, false},
                   {backend_db, 'bitcask'}
                  ]},
 {leo_object_storage,    [{profile, false}]},
 {leo_ordning_reda,      [{profile, false},
                          {send_after_interval, 100}
                         ]},
 {leo_redundant_manager, [{profile, false},
                          {notify_mf, [leo_manager_api, notify]},
                          {sync_mf,   [leo_manager_api, synchronize]}
                         ]},
 {leo_statistics, [{profile, false}]}
].
