%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Storage
%%
%% Copyright (c) 2012 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
[
    {sasl, [
            {sasl_error_logger, {file, "{{platform_log_dir}}/sasl/sasl-error.log"}},
            {errlog_type, error},
            {error_logger_mf_dir, "{{platform_log_dir}}/sasl"},
            {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
            {error_logger_mf_maxfiles, 5}         % 5 files max
           ]},

    {leo_storage, [
                   %% == System Ver ==
                   {system_version, "{{system_version}}" },

                   %% == Storage Configuration ==
                   %%
                   %% Object containers properties:
                   %% @param path              - Directory of object-containers
                   %% @param num_of_containers - # of object-containers
                   %%
                   %% Notes:
                   %%   If you set up LeoFS on 'development', default value - "./avs" - is OK.
                   %%   If you set up LeoFS on 'production' or 'staging', You should need to change "volume",
                   %%       And We recommend volume's partition is XFS.
                   %%
                   {obj_containers,     {{obj_containers}} },

                   %% leo-manager's nodes
                   {managers,           {{managers}} },

                   %% # of virtual-nodes
                   {num_of_vnodes,      {{num_of_vnodes}} },

                   %% # of mq-server's processes
                   {num_of_mq_procs,    {{num_of_mq_procs}} },

                   %% mq - queues consumption's intervals
                   %% - per_object
                   {cns_interval_per_object_min, {{cns_interval_per_object_min}} },
                   {cns_interval_per_object_max, {{cns_interval_per_object_max}} },
                   %% - sync_by_vnode_id
                   {cns_interval_sync_by_vnode_id_min, {{cns_interval_sync_by_vnode_id_min}} },
                   {cns_interval_sync_by_vnode_id_max, {{cns_interval_sync_by_vnode_id_max}} },
                   %% - for rebalance
                   {cns_interval_rebalance_min, {{cns_interval_rebalance_min}} },
                   {cns_interval_rebalance_max, {{cns_interval_rebalance_max}} },
                   %% - async deletion objects (after remove a bucket)
                   {cns_interval_async_deletion_min, {{cns_interval_async_deletion_min}} },
                   {cns_interval_async_deletion_max, {{cns_interval_async_deletion_max}} },
                   %% - recovery node
                   {cns_interval_recovery_node_min,  {{cns_interval_recovery_node_min}} },
                   {cns_interval_recovery_node_max,  {{cns_interval_recovery_node_max}} },

                   %% cluster group - level_1
                   %%   - Able to use from ver 1.0.0)
                   %%   - ex: {grp_level_1, "DC_0001"}.
                   {grp_level_1, "{{grp_level_1}}"},

                   %% cluster group - level_2
                   %%   - Able to use from ver 0.14.2)
                   %%   - ex: {grp_level_2, "RACK_0001"}.
                   {grp_level_2, "{{grp_level_2}}"},

                   %% == For Ordning-Reda ==
                   %% Size of stacked objects (bytes)
                   {size_of_stacked_objs,    {{size_of_stacked_objs}} },
                   %% Stacking timeout (msec)
                   {stacking_timeout,        {{stacking_timeout}} },

                   %% == Log-specific properties ==
                   %%
                   {log_level,    {{log_level}} },
                   {log_appender, [
                                   {file, [{path, "{{app_log_dir}}" }
                                  ]},

                   %% == Directories ==
                   %%
                   %% Directory of log output
                   {log_dir,     "{{platform_log_dir}}"},
                   %% Directory of mq's db-files
                   {queue_dir,   "{{queue_dir}}"},
                   %% Directory of SNMP-Agent
                   {snmp_agent,  "{{snmp_agent_dir}}"}
                  ]},

    {leo_backend_db, [{profile, false}]},
    {leo_logger,     [{profile, false}]},
    {leo_mq,         [{profile, false},
                      {backend_db, 'bitcask'}
                     ]},
    {leo_object_storage, [{profile, false},
                          {metadata_storage, 'bitcask'},
                          %% Strict comparison of object's checksum with its metadata
                          {is_strict_check, {{is_strict_check}} }
                         ]},
    {leo_ordning_reda,   [{profile, false},
                          {send_after_interval, 100}
                         ]},
    {leo_redundant_manager, [{profile, false},
                             {notify_mf, [leo_manager_api, notify]},
                             {sync_mf,   [leo_manager_api, synchronize]},
                             {log_dir_member, "{{ring_log_dir}}" },
                             {log_dir_ring,   "{{ring_log_dir}}" }
                            ]},
    {leo_statistics, [{profile, false}]}
].
