%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Gateway
%%
%% Copyright (c) 2012 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
[
 {sasl, [
         {sasl_error_logger, {file, "./log/sasl/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "./log/sasl"},
         {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
         {error_logger_mf_maxfiles, 5}         % 5 files max
        ]},

 {leo_gateway, [
                %% System Ver
                {system_version, "0.14.3" },

                %% Gateway Properties:
                {http, [
                        %% http-handler:
                        %%   [rest | s3 | swift]
                        {handler, s3},
                        %% Gateway port number:
                        {port, 8080 },
                        %% # of acceptors:
                        {num_of_acceptors, 128 },
                        %% max # of layer of directories:
                        {layer_of_dirs, {1, 12} },
                        %% ssl related:
                        {ssl_port,     8443 },
                        {ssl_certfile, "./etc/server_cert.pem" },
                        {ssl_keyfile,  "./etc/server_key.pem" }
                       ]},

                %% Large-object-related properties:
                {large_object, [
                                {max_chunked_objs,  1000  },
                                {max_len_for_obj,   524288000   },
                                {chunked_obj_len,   5242880   },
                                {threshold_obj_len, 5767168 }
                               ]},

                %% Cache-related properties:
                {cache, [
                         %% Use HTTP-cache ?
                         {http_cache, false},
                         %% # of Cache workers
                         {cache_workers, 128 },

                         %% RAM-cache capacity
                         {cache_ram_capacity,  1073741824 },
                         %% Disc-cache capacity
                         {cache_disc_capacity, 0 },

                         %% Disc-cache's threshold length which value is exceeded
                         %% when an object is stored into the disc
                         {cache_disc_threshold_len, 1048576 },
                         %% Disc-cache's directory
                         {cache_disc_dir_data,    "./cache/data" },
                         {cache_disc_dir_journal, "./cache/journal" },

                         %% Cache expire time. (sec)
                         {cache_expire, 300 },
                         %% Acceptable maximum content length (MB)
                         {cache_max_content_len, 1048576 },
                         %% Acceptable content-type(s)
                         {cachable_content_type, [] },
                         %% Acceptable URL-Pattern(s)
                         {cachable_path_pattern, [] }
                        ]},

                %% QoS-related properties:
                {qos, [
                       {is_enable_qos, false },
                       {elkdb_conns, [
                                      [{pool_size,   16},
                                       {pool_buffer, 16},
                                       {host,        "127.0.0.1"},
                                       {port,        5555}
                                      ],
                                      [{pool_size,   16},
                                       {pool_buffer, 16},
                                       {host,        "127.0.0.1"},
                                       {port,        5556}
                                      ],
                                      [{pool_size,   16},
                                       {pool_buffer, 16},
                                       {host,        "127.0.0.1"},
                                       {port,        5557}
                                      ]
                                     ]}
                      ]
                 },

                %% Timeout when request from gateway to storage ==
                {timeout, [
                           {level_1,  5000},
                           {level_2,  7000},
                           {level_3, 10000},
                           {level_4, 20000},
                           {level_5, 30000}
                          ]},

                %% Manager - leo-manager's nodes
                {managers, ["manager_0@127.0.0.1", "manager_1@127.0.0.1"] },

                %% Log-specific properties
                %%   - Log output level
                %%         0: debug
                %%         1: info
                %%         2: warning
                %%         3: error
                {log_level,    1 },
                %% Log appender - [file]
                {log_appender, [
                                {file, [{path, "./log/app"}]}
                               ]},

                %% Directory of log output
                {log_dir,     "./log"},
                %% Directory of mq's db-files
                {queue_dir,   "./work/queue"},
                %% Directory of snmp-agent
                {snmp_agent,  "./snmp/snmpa_gateway_1/LEO-GATEWAY"}
               ]},

 {ecache,         [{profile, false}]},
 {leo_backend_db, [{profile, false}]},
 {leo_logger,     [{profile, false}]},
 {leo_mq,         [{profile, false},
                   {backend_db, 'bitcask'}
                  ]},
 {leo_object_storage,    [{profile, false}]},
 {leo_ordning_reda,      [{profile, false},
                          {send_after_interval, 100}
                         ]},
 {leo_redundant_manager, [{profile, false},
                          {notify_mf, [leo_manager_api, notify]},
                          {sync_mf,   [leo_manager_api, synchronize]}
                         ]},
 {leo_statistics, [{profile, false}]}
].
