%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Manager
%%
%% Copyright (c) 2012 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
[
    {sasl, [
            {sasl_error_logger, {file, "./log/sasl/sasl-error.log"}},
            {errlog_type, error},
            {error_logger_mf_dir, "./log/sasl"},
            {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
            {error_logger_mf_maxfiles, 5}         % 5 files max
           ]},
    {mnesia, [
              {dir, "./work/mnesia/127.0.0.1"},
              {dump_log_write_threshold, 50000},
              {dc_dump_limit,            40}
             ]},
    {leo_manager, [
                   %% == System Ver ==
                   {system_version, "0.14.3" },

                   %% == System Configuration ==
                   %%
                   %% n: # of replicated files
                   %% w: # of successes of write-operation
                   %% r: # of successes of read-operation
                   %% d: # of successes of delete-operation
                   %% bit_of_ring: Ring size - 128 = 2^128
                   {system, [{n, 2 },
                             {w, 1 },
                             {r, 1 },
                             {d, 1 },
                             {bit_of_ring, 128},
                             {level_1, 0},
                             {level_2, 0}
                            ]},

                   %% == Available Commands ==
                   {available_commands, all },

                   %% == Manager Properties ==
                   %% Mode of server - [master|slave]
                   {manager_mode,     master },
                   %% Partner of manager's alias
                   {manager_partners, ["manager_1@127.0.0.1"] },
                   %% Manager accepatable port number
                   {port_cui,         10010 },
                   {port_json,        10020 },

                   %% # of acceptors
                   {num_of_acceptors_cui,   3},
                   {num_of_acceptors_json, 16},

                   %% Compaction: # of execution of conncurrent
                   {num_of_compact_proc, 3 },

                   %% == Log-specific properties ==
                   %%
                   %% Log output level
                   %%   0: debug
                   %%   1: info
                   %%   2: warning
                   %%   3: error
                   {log_level,    1 },
                   %% Log appender - [file]
                   {log_appender, [
                                   {file, [{path, "./log/app"}]}
                                  ]},

                   %% == Directories ==
                   %%
                   %% Directory of log output
                   {log_dir,          "./log"},
                   %% Directory of mq's db-file
                   {queue_dir,        "./work/queue"},
                   %% Directory of snmp-agent
                   {snmp_agent,       "./snmp/snmpa_manager_0/LEO-MANAGER"}
                  ]},
    {leo_backend_db, [{profile, false}]},
    {leo_logger,     [{profile, false}]},
    {leo_mq,         [{profile, false},
                      {backend_db, 'bitcask'}
                     ]},
    {leo_object_storage,    [{profile, false}]},
    {leo_redundant_manager, [{profile, false},
                             {notify_mf, [leo_manager_api, notify]},
                             {sync_mf,   [leo_manager_api, synchronize]}
                            ]},
    {leo_statistics, [{profile, false}]}
].
