%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Storage
%%
%% Copyright (c) 2012 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
[
    {sasl, [
            {sasl_error_logger, {file, "./log/sasl/sasl-error.log"}},
            {errlog_type, error},
            {error_logger_mf_dir, "./log/sasl"},
            {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
            {error_logger_mf_maxfiles, 5}         % 5 files max
           ]},

    {leo_storage, [
                   %% == System Ver ==
                   {system_version, "0.14.3" },

                   %% == Storage Configuration ==
                   %%
                   %% Object containers properties:
                   %% @param path              - Directory of object-containers
                   %% @param num_of_containers - # of object-containers
                   %%
                   %% Notes:
                   %%   If you set up LeoFS on 'development', default value - "./avs" - is OK.
                   %%   If you set up LeoFS on 'production' or 'staging', You should need to change "volume",
                   %%       And We recommend volume's partition is XFS.
                   %%
                   {obj_containers,     [[{path, "./avs"}, {num_of_containers, 8}]] },

                   %% leo-manager's nodes
                   {managers,           ["manager_0@127.0.0.1", "manager_1@127.0.0.1"] },

                   %% # of virtual-nodes
                   {num_of_vnodes,      168 },

                   %% # of mq-server's processes
                   {num_of_mq_procs,    8 },

                   %% mq - queues cosumption's intervals
                   %% - per_object
                   {cns_interval_per_object_min, 0  },
                   {cns_interval_per_object_max, 16 },
                   %% - sync_by_vnode_id
                   {cns_interval_sync_by_vnode_id_min, 0  },
                   {cns_interval_sync_by_vnode_id_max, 16 },
                   %% - for rebalance
                   {cns_interval_rebalance_min, 0  },
                   {cns_interval_rebalance_max, 16 },
                   %% - async deletion objects (after remove a bucket)
                   {cns_interval_async_deletion_min, 0  },
                   {cns_interval_async_deletion_max, 16 },
                   %% - recovery node
                   {cns_interval_recovery_node_min,  0  },
                   {cns_interval_recovery_node_max,  16 },

                   %% cluster group - level_1
                   %%   - Able to use from ver 1.0.0)
                   %%   - ex: {grp_level_1, "DC_0001"}.
                   {grp_level_1, ""},

                   %% cluster group - level_2
                   %%   - Able to use from ver 0.14.2)
                   %%   - ex: {grp_level_2, "RACK_0001"}.
                   {grp_level_2, ""},

                   %% == For Ordning-Reda ==
                   %% Size of stacked objects (bytes)
                   {size_of_stacked_objs,    67108864 },
                   %% Stacking timeout (msec)
                   {stacking_timeout,        5000 },

                   %% == Log-specific properties ==
                   %%
                   {log_level,    1 },
                   {log_appender, [
                                   {file, [{path, "./log/app"}]}
                                  ]},

                   %% == Directories ==
                   %%
                   %% Directory of log output
                   {log_dir,     "./log"},
                   %% Directory of mq's db-files
                   {queue_dir,   "./work/queue"},
                   %% Directory of SNMP-Agent
                   {snmp_agent,  "./snmp/snmpa_storage_2/LEO-STORAGE"}
                  ]},

    {leo_backend_db, [{profile, false}]},
    {leo_logger,     [{profile, false}]},
    {leo_mq,         [{profile, false},
                      {backend_db, 'bitcask'}
                     ]},
    {leo_object_storage, [{profile, false},
                          {metadata_storage, 'bitcask'}
                         ]},
    {leo_ordning_reda,   [{profile, false},
                          {send_after_interval, 100}
                         ]},
    {leo_redundant_manager, [{profile, false},
                             {notify_mf, [leo_manager_api, notify]},
                             {sync_mf,   [leo_manager_api, synchronize]}
                            ]},
    {leo_statistics, [{profile, false}]}
].
