## Name of the node
-name gateway_1@127.0.0.1

## Cookie for distributed erlang
-setcookie 401321b4

## Heartbeat management; auto-restarts VM if it dies or becomes unresponsive
## (Disabled by default..use with caution!)
##-heart

## Enable kernel poll and a few async threads
+K true
+A 32

## Increase number of concurrent ports/sockets
##-env ERL_MAX_PORTS 4096

## Tweak GC to run more often
##-env ERL_FULLSWEEP_AFTER 10

## SNMP Config file
-config ./snmp/snmpa_gateway_1/leo_gateway_snmp

## Sets the maximum number of concurrent processes for this system
+P 1048576

## set up the node with the -hidden flag
-hidden
