[{snmp, [{agent, [{versions, [v1, v2]},
                  {db_dir, "snmp/snmpa_storage_0/db"},
                  {config, [{dir, "snmp/snmpa_storage_0/agent/conf"},
                            {verbosity, silence}]},
                  {net_if, [{verbosity, silence}]}
                 ]},
         {verbosity, silence}]}
].
