[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 %% leo_rpc config
 %% Use different port than manager/storage (manager:13075, storage:13077)
 {leo_rpc, [
         {listen_port, 13079}
        ]},
 %% leo_gateway config
 {leo_gateway, [
         {managers, ['manager_0@127.0.0.1', 'manager_1@127.0.0.1']}
        ]}
].
