%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% LeoFS Manager
%%
%% Copyright (c) 2012 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
[
    {sasl, [
            {sasl_error_logger, {file, "{{platform_log_dir}}/sasl/sasl-error.log"}},
            {errlog_type, error},
            {error_logger_mf_dir, "{{platform_log_dir}}/sasl"},
            {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
            {error_logger_mf_maxfiles, 5}         % 5 files max
           ]},
    {mnesia, [
              {dir, "{{mnesia_dir}}/{{node_ip}}"},
              {dump_log_write_threshold, 50000},
              {dc_dump_limit,            40}
             ]},
    {leo_manager, [
                   %% == System Ver ==
                   {system_version, "{{system_version}}" },

                   %% == System Configuration ==
                   %%
                   %% n: # of replicated files
                   %% w: # of successes of write-operation
                   %% r: # of successes of read-operation
                   %% d: # of successes of delete-operation
                   %% bit_of_ring: Ring size - 128 = 2^128
                   {system, [{n, {{num_of_replicas}} },
                             {w, {{num_of_successes_of_write}} },
                             {r, {{num_of_successes_of_read}} },
                             {d, {{num_of_successes_of_delete}} },
                             {bit_of_ring, 128},
                             {level_1, {{num_of_awareness_L1}} },
                             {level_2, {{num_of_awareness_L2}} }
                            ]},

                   %% == Available Commands ==
                   {available_commands, {{available_commands}} },

                   %% == Manager Properties ==
                   %% Mode of server - [master|slave]
                   {manager_mode,     {{manager_mode}} },
                   %% Partner of manager's alias
                   {manager_partners, {{manager_partners}} },
                   %% Manager accepatable port number
                   {port_cui,         {{manager_port_cui}} },
                   {port_json,        {{manager_port_json}} },

                   %% # of acceptors
                   {num_of_acceptors_cui,   3},
                   {num_of_acceptors_json, 16},

                   %% Compaction: # of execution of conncurrent
                   {num_of_compact_proc, {{num_of_compact_proc}} },

                   %% == Log-specific properties ==
                   %%
                   %% Log output level
                   %%   0: debug
                   %%   1: info
                   %%   2: warning
                   %%   3: error
                   {log_level,    {{log_level}} },
                   %% Log appender - [file]
                   {log_appender, [
                                   {file, [{path, "{{platform_log_dir}}/app"}]}
                                  ]},

                   %% == Directories ==
                   %%
                   %% Directory of log output
                   {log_dir,          "{{platform_log_dir}}"},
                   %% Directory of mq's db-file
                   {queue_dir,        "{{queue_dir}}"},
                   %% Directory of snmp-agent
                   {snmp_agent,       "{{snmp_agent_dir}}"}
                  ]},
    {leo_backend_db, [{profile, false}]},
    {leo_logger,     [{profile, false}]},
    {leo_mq,         [{profile, false},
                      {backend_db, 'bitcask'}
                     ]},
    {leo_object_storage,    [{profile, false}]},
    {leo_redundant_manager, [{profile, false},
                             {notify_mf, [leo_manager_api, notify]},
                             {sync_mf,   [leo_manager_api, synchronize]}
                            ]},
    {leo_statistics, [{profile, false}]}
].
